<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>


<a [routerLink]="['/alpha']">Seattle, WA</a> | 
<a [routerLink]="['/burbank']">Burbank, CA</a> | 
<a [routerLink]="['/chicago']">Chicago, IL</a> | 
<a [routerLink]="['/dallas']">Dallas, TX</a> | 
<a [routerLink]="['/dc']">Washington DC</a> | 
<a [routerLink]="['/sanjose']">San Jose, CA</a> | 
<a [routerLink]="['/beta']">Somewhere else</a>
<router-outlet></router-outlet> 
